*,
*::before,
*::after {}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;

}


/* HEADER */


    /* position: relative; */
    .wrapper {
        margin: 0 auto;
        padding: 60px; /* Adequate padding on smaller screens */
        box-sizing: border-box;
    }

header {
    background-color: #333;
    Padding:1em 0;
  }

.header_img{
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}
.logo-image{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c78c06;
    margin-left: 20px;
    margin-right: 20px;
}


/* nav{
    display:flex;
    flex-direction: column;
    align-self: center;
    background-color: #c78c06;
    margin-left: 10px;
    margin-right: 10px;

}

nav ul{
    width: 100%;
}
nav li{
    display: block;
}
nav a{
    color:#c78e2b;
border-top: 1px solid #c78c06;
display:block;
padding: 1em;
display: block;
background-color: #333;
text-decoration: none;

}

nav a :first-child{
    border-top:none;

}

.active{
    background-color: #c78e2b;
    color:#333;
    
}

nav a:not(:last-child){
border-bottom:1px solid #c48e2b;
}

 */

 nav {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-left: 20px;
    margin-right: 20px;
}
  
nav ul {
    width: 100%; /* Full width of the nav container */
}
  
nav li {
    display: block;
}
  
nav a {
    display: block; /* Make links fill the li element */
    padding: 1em; /* Padding for the links */
    color: #c78c06; /* Text color for the links */
    text-decoration: none; /* Remove underlines from links */
    text-align: center; /* Center text within the link */
    background-color: #333; /* Dark background for the links */
    border-top: 1px solid  #c78c06; /* Gold top border for separation */
}
nav a:first-child {
    border-top: none;
   
}
  
nav a:not(:last-child) {
    border-bottom: 1px solid  #c78c06;
}
/* The active link style */
.active {
    background-color:  #c78c06;
    color: #333; 
    margin-right: 20px;
    margin-top: -16px;
    margin-left: -20px;

    /* Dark text for the active link */
}

/* nav a[href="#"] {
    margin-left: 20px;
} */
/* nav li:first-child a {
    margin-right: 20px; 
} */
nav ul li:first-child a.active {
    padding-left: 40px;}

    /* .bar-container{
        display:flex;
        justify-content: center;
        position:relative;
    } */

    /* .bar-container input[type="text"]{
        width:100%;
        padding:0.4em;
        border:2px solid #c78c06;
        border-right: none;
        border-radius: 5px 0 0 5px;
    } */

    /* .bar-container input[type="text"] {
        width: 100%; 
        padding: 0.5em;  
          border: 2px solid #C48E2B;   
           border-radius: 5px 0 0 5px;  
              border-right: none;} */

    /* .bar-container form{
        position:relative;
        width:100%;
        margin-left: 20px;
        margin-right:50px;
        padding: 8px;
    } */
/* .bar-container button{
    position: absolute;
    width: 40px;
    border: 2px solid #c78c06;
    border-left: none;
    background-color:#333;
    color:#c78c06;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    height: 100%;
    right: 0;
    top: 0;
    margin-left: 40px;
    
} */


.bar-container {
    display: flex; 
    justify-content: center;
    position: relative;
}
  
.bar-container form {
    position: relative; 
    width: calc(100% - 2em);
}
  
.bar-container input[type="text"] {
    width: 95%; 
    padding: 1em;  
    border-radius: 5px 0 0 5px;
    border-right: none; 
}
  
.bar-container button {
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 4.3%; 
    height: 100%; 
    border: 2px solid #c78c06;  
   border-left: 2px solid #c78c06; 
    background-color: #333; 
    color: #C48E2B; 
    margin-left: 40px;
    border-radius: 0 5px 5px 0; 
}

.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* button section  */
.btn-black{
    background-color: black;
    padding:14px 25px;
    color:white;
    text-decoration: none;

}
.btn-send{
    background-color:#000;
    text-decoration: none;
    color:#c78c06;
    padding: 10px 30px;



}

/* marketing section */
.marketing-page{
    background-color:#ffe6ac;
padding:40px 10px 20px;
text-decoration: none;
margin-bottom: 30px;
margin-left: -32px;}

.marketing img{
     width:1455px;
    height:0 auto;
    display:block;
    margin-left:-32px;
}
.marketing p,
h2{ margin-left: 20px;
}




/* about section */
.about-page{
    background-color: #ffe6ac;
    padding: 50px 0;
}
.about-page p,
h1{ margin-left: 20px;
}


.about-image img{

    width:100%;
    height:0 auto;
    display:block;
    margin: 0 auto;

}
/* Digital section */
.digital-trans{
    background-color: #ffe6ac;
    padding: 50px 0;
    margin-bottom: 60px;
    margin-left: -32px;
}

.digital img{
    width:1455px;
    height:0 auto;
    display:block;
    margin-left:-32px;
    padding-right: 50px;

}
.digital-trans h4, p {
    margin-left:20px;
    margin-bottom: 30px;
    font-size: 20px;
}
.btn-black{
    margin-left: 20px;
}


/* video production section */
.video-page{
    background-color:#ffe6ac;
    padding:50px 0;
    margin-bottom: 60px;
    margin-left: -32px;
}
.video img{

    width:1455px;
    height:0 auto;
    display:block;
    margin-left: -32px;}



/* web development section */
.web-page{
    background-color:#ffe6ac;
    padding:50px 0;
    margin-bottom: 60px;
    margin-left: -32px;
}
.web img{
    width:1455px;
    height:0 auto;
    display:block;
    margin-left: -32px;}




/* print section */
.print-page{
    background-color:#ffe6ac;
    padding: 50px 0;
    margin-bottom: 60px;
    margin-left: -32px;
}
.print img{
    width:1455px;
    height:0 auto;
    display:block;
    margin-left: -32px;}



/* section vison */
.vision img {
    width:100%;
    height:500px;
    display:block;
    margin-bottom: 70px;
}
/* .vision{
    position:relative;
} */

.text{ 
    margin-top:-300px;
    color:white;
    margin-bottom: 40px;


}
.btn-vision{
    background-color: #051d35;
    padding:30px;
    margin-left:20px;
    color:white;
    text-decoration: none;
    margin-bottom: 50px;
    border: 2px solid #7a7154;
    display:inline-block;
    margin-top:-50px;

}

/* Our team section */
.team-page{
    background-color:#ffe6ac;
    padding:50px 0;
    margin-bottom: 60px;
    margin-left: 25px;
    margin-right:63px;
}

.team img{
    width:1455px;
    margin-left: 25px;
    height:0 auto;
    display:block;
    
}

.cfo-page{
    background-color: #ffe6ac;
    padding:50px 0;
    margin-bottom: 60px;
    margin-left: 25px;
    margin-right:63px;
}
.bob img{
    width:1455px;
    margin-left: 25px;
    height:0 auto;
    display:block;
}
.cfo-page h4{
    margin-right:-50px;
}

/* WELCOME SECTION */

.welcome {
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
}

.welcome_section_wrapper {
    color: white;
    max-width: 100%;
    padding: 40px 20px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.welcome_section_wrapper h1 {
    font-size: 80px;
}
.welcome_text_container p{
    font-size:30px;
}

.welcome_text_container {
    z-index: 1;
}

.dark_shade {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 20%;
    left: 0;
    right: 0;
    background: #000;
    opacity: .7;
    z-index: 0;
}
/* form section */
#contact-form{
    display:grid;
}
#contact label{
    display:block;
    margin-left:10px;
}
.contact-form h2 {
    margin-left:10px;
}
#contact h1{
    margin-left:10px;
}
#contact input[type="text"],
 #contact input[type="email"],
 #contact textarea {
    width: 95%; 
    padding: 10px; 
    border: 1px solid #000; 
    border-radius: 5px;
    margin-left: 10px; 
    /* margin-right: 30px; */
    margin-bottom:20px;
 }
 #contact{
    text-align: left; 
    padding: 20px; 

 }
  .btn-send {
    background-color:#000;
    text-decoration: none;
    color:#c78c06;
    padding: 20px 30px;
   display:inline-block;
   margin-left:10px;
   font-size: 30px;

 }


/* table section */
table, th, td {
    border:1px solid;  
}

table{
    width:95%;
    height:100px;
    border-collapse: collapse;
    margin-left:30px;
    

}
.hours h1{
margin-left:30px;
}
.day{
    text-align: center;
}
td{
    text-align: left;
    padding:20px;
}


.day{
    background-color:#ffe6ac;
}
.location h1{
    margin-left: 30px;
}
.location iframe{
    width:95%;
    margin-left:30px;
    margin-bottom:40px;
}

.footer{
    background-color:#000;
    color:#c78c06;
    padding:40px;
    width:97%;
    margin-right: 30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* margin-right: 80px; */
    /* z-index: 0; */

}
.underline{
    text-decoration: underline;
}

/* Button */

.button {
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 70px;
}

.btn-gold {
    background: #c78c06;
    color: black;
}


@media screen and (min-width: 760px) {

header{
    
}
}
