*,
*::before,
*::after {}

body {}

/* HEADER */

.wrapper{
    /* position: relative; */
   max: width 760px;;
    margin: auto;

}
header {
    background-color: #333;
  }

.header_img{
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}

.header_nav {
   color:#c78c06;
}
.header{
}

.wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* button section  */
.btn-black{
    background-color: black;
    padding:14px 25px;
    color:white;
    text-decoration: none;

}
/* marketing section */
.marketing-page{
    background-color:#ffe6ac;
padding:40px 10px 20px;
text-decoration: none;}


/* about section */
.about-page{
    background-color: #ffe6ac;
}
/* Digital section */
.digital-trans{
    background-color: #ffe6ac;
    padding: 40px 10px 20px;
}
/* video production section */
.video-page{
    background-color:#ffe6ac;
    padding:40px 10px 20px;
}
/* web development section */
.web-page{
    background-color:#ffe6ac;
    padding:40px 10px 20px;
}
/* print section */
.print-page{
    background-color:#ffe6ac;
    padding: 40px 10px 20px;

}



/* WELCOME SECTION */

.welcome {
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
}

.welcome_section_wrapper {
    color: white;
    max-width: 100%;
    padding: 40px 20px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.welcome_section_wrapper>h1 {
    font-size: 30px;
}

.welcome_text_container {
    z-index: 1;
}

.dark_shade {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 20%;
    left: 0;
    right: 0;
    background: #000;
    opacity: .7;
    z-index: 0;
}

/* @media screen and (min-width: 400px) and (max-width: 1000px) {

    

} */



/* Button */

.button {
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
}

.btn-gold {
    background: #c78c06;
    color: black;
}